/*resetting parents*/
html,body,div,section{
    margin:0;
    padding:0;
    border:0;
    top:0;
    bottom:0;
}
/*********************************
**********************************/

html{


}

body{

}
.nspace{
    width:100%;
    height:10%;
    display: block;
}

.child{
 border-bottom:1px solid black;
 background-color: white;
 display: block;
  top: 0;
  bottom: 0;
  z-index: 1;
  
}

#one{
  z-index: -1;
  background-image: url(wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  margin: 0;
  color: white;
  font-family: 'Poiret One', cursive;
}

#hi{
  font-size: 300%;
  margin-left: 30px;
  margin-top: 20px;
    
}


#frees{
   width: 100%;
   text-align: center;
  font-size: 40px;
  
}

#taker{
   width: 100%;
   text-align: center;
   font-size: 150%;
    display: block;
    color: #aaaaaa
}
.sn{
    margin: 0 auto;
    height: auto;
    width: 300px;
}




#two{
    
background-color: transparent;
margin: 0;
}

#three{
   -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
   color: black;
    overflow: scroll;
    font-size: 170%;
   font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
}


.vider{
   display: block;
    width:500px;
    height: 100%;
    float: left;
    text-align: center;
    
    
}
.videra{
    padding-bottom:-80px;
       
}

.lanp{  
   height: 50%;
   display: block;
   width: 100%;
    text-align: center;
    margin-top: 5px;
}

.plats{
  display: flex;  
  width: 100%;
  height: 64px;
  text-align: center;
  margin-top: 3px;
  border-bottom: 2px solid dimgray;
  
}

.lang{
    text-align: center;
   display: block;
   width: 100%;
   height:auto;
  margin-top: 5px;
}

.picassa{
    width:60px;
    height:60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


#four{
    margin: 0 auto;
}


.portheader{
  text-align: center;
    font-family: monospace;
    font-size: 20px;
    font-family: 'Cairo', sans-serif; 
    display: block;
}



#five{
    text-align: center;
    font-family: monospace;
     font-family: 'Cairo', sans-serif;
}


.contactform{
  width:90%;
  margin: 0 auto;
  margin-top:9%;
    
}

 .formin{
 display: block;
 width: 70%;    
 border: 0;
 border-bottom: 2px solid #505050;
 margin-top: 10px;
 margin-bottom: 10px;
 font-size: 30px;
}

.formbtn{
   outline-style: hidden;
   background-color: white;
   color: black;
   display: block;
   margin: 0 auto; 
   font-family: 'Cairo', sans-serif;
 width:80px;
    border: 0;
}




#overlaid{
    background-color: darkviolet;
    margin-left: 10px;
}

.header{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    
}
